<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link rel="stylesheet" href="/css/scss/main.css" />
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<title>Items Purchase</title>
	</head>

	<body>
		<%- include ("header") %>
		<header class="header2">
			<h1 class="header-text">The coffee we buy is truly special</h1>
			<img
				src="/images/coffee-roast.png"
				alt="Coffee Roast "
				class="header-img"
			/>
		</header>
		<section class="coffee-section">
			<h1 class="coffee-section-title">Browse Coffee Roasts</h1>
			<ul class="coffee-list">
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/veranda-stamp.png"
						alt="Starbucks Veranda Blend"
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Blonde</strong> Roast</span>
					<h3 class="coffee-title">Starbucks&reg; Veranda blend</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/willow-stamp.png"
						alt="Starbucks Willow Blend"
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Blonde</strong> Roast</span>
					<h3 class="coffee-title">Starbucks&reg; Willow Blend</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/breakfast-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Medium</strong> roast</span>
					<h3 class="coffee-title">Breakfast Blend</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/colombia-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Medium</strong> roast</span>
					<h3 class="coffee-title">Colombia</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/ethiopia-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Medium</strong> roast</span>
					<h3 class="coffee-title">Ethiopia</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/guatemala-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Medium</strong> roast</span>
					<h3 class="coffee-title">Guatemala Antigua</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/house-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Medium</strong> roast</span>
					<h3 class="coffee-title">House Blend</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/kenya-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Medium</strong> roast</span>
					<h3 class="coffee-title">Kenya</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/pike-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>Medium</strong> roast</span>
					<h3 class="coffee-title">Pike Place&reg; Roast</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/verona-s.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>dark</strong> roast</span>
					<h3 class="coffee-title">Caffè Verona&reg;</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/komodo-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>dark</strong> roast</span>
					<h3 class="coffee-title">Decaf Komodo Dragon Blend&trade;</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/espresso-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>dark</strong> roast</span>
					<h3 class="coffee-title">Espresso Roast</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/french-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>dark</strong> roast</span>
					<h3 class="coffee-title">French Roast</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/italianstamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>dark</strong> roast</span>
					<h3 class="coffee-title">Italian Roast</h3>
				</li>
				<li class="coffee-item">
					<img
						src="https://assets.mystarbucks.com.au/imagecache/bestfit/288x166/_files/NEW-Photos-2016/Packaged-coffee/sumatra-stamp.png"
						alt=""
						class="coffee-img"
					/>
					<span class="coffee-sub-text"><strong>dark</strong> roast</span>
					<h3 class="coffee-title">Sumatra</h3>
				</li>
			</ul>
		</section>
		<br />
		<footer>
			<p class="footer-text">
				&copy; 2019 Starbucks Coffee Company. All rights reserved.
			</p>
		</footer>
	</body>
</html>
